* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}
  
div.a a{
    color: darkblue;
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 
div.a a{
    font-size: 50px;
    text-decoration: none;
  }
  * {box-sizing: border-box}
 body {font-family: Arial, Helvetica, sans-serif;}

div.a {
    text-align: center;
  }

  div.a a:hover {
    color: #db005f;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.navbar a {
  width: 100%;
  background-color: lavenderblush;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: darkblue;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Five links of equal widths */
  text-align: center;
}

.navbar a:hover {
    color: royalblue;
}

.navbar a.active {
  background-color: lightgoldenrodyellow;
}

.navbar a.active:hover {
    color: royalblue;
  }

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

div.scroll-container {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin-left: 450px;
}

div.scroll-container img {
  padding: 10px;
}

div.b{
  font-family: "Tajawal", sans-serif;
  color: darkblue;
  margin-left: 10px;
  margin-right: 1000px;
  display: inline-block;
  margin-top: -400px;
}

p1{
  border-radius: 10px;
  font-size: 30px;
  font-weight: 500px;
  color: #db005f;
}

p2{
  color: #db005f;
}